{% extends "mi_primera_pagina/html/base.html" %}

{% block content %}
<div class="card glass-effect">
    <div class="card-body p-4">
        <h1 class="mb-4 text-center">My Tasks</h1>
        <ul class="list-group list-group-flush">
            {% for task in tasks %}
                <li class="list-group-item bg-transparent text-center">{{ task }}</li>
            {% empty %}
                <li class="list-group-item text-muted text-center bg-transparent">No tasks yet</li>
            {% endfor %}
        </ul>
        <div class="text-center mt-4">
            <a href="{% url 'tasks_add' %}" class="btn btn-primary">Add a New Task</a>
        </div>
    </div>
</div>
{% endblock %}