{% extends "mi_primera_pagina/html/base.html" %}

{% block content %}
<div class="card glass-effect">
    <div class="card-body p-5">
        <h1 class="mb-4 text-center">Add Task</h1>
        <form action="{% url 'tasks_add' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" name="task" placeholder="Describe tu nueva tarea..." class="form-control form-control-lg bg-transparent">
            </div>
            
            <div class="text-center mt-4">
                <a href="{% url 'tasks_index' %}" class="btn btn-outline-light mx-2">← Ver Tareas</a>
                <button type="submit" class="btn btn-outline-light mx-2">Agregar Tarea</button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}